html {
	background-color: #333;
}

#header h1 {
	color: #ccc;
	text-shadow: 0 1px 0 #fff;
}

#body {
	color: #ccc;
}

#body a, #body em, #body strong {
	color: #fff;
}

#footer {
	background-color: #fff;
}

#copyright {
	color: #999;
}

#copyright a {
	color: #000;
}