#enemy {
	background-color: transparent;
	background-image: url('../img/sub-zero.gif');
	background-position: 0 50%;
	background-repeat: no-repeat;
	height: 320px;
	position: absolute;
	top: 160px;
	width: 250px;
}

#enemy.moving-left {
	background-position: -250px 50%;
}

#enemy.moving-right {
	background-position: -500px 50%;
}

#enemy.punching {
	background-position: -750px 50%;
}

#enemy.kicking {
	background-position: -1000px 50%;
}

#enemy.hit {
	background-position: -1250px 50%;
}