#game {
	background-color: #999;
	height: 400px;
	line-height: 1;
	position: relative;
	width: 800px;
}

#playerEnergyBar, #enemyEnergyBar {
	background-color: #ccc;
	border: 2px solid #fff;
	height: 20px;
	position: absolute;
	top: 20px;
	width: 300px;
}

#playerEnergyBar {
	left: 20px;
}

#enemyEnergyBar {
	left: 476px;
}

#playerEnergyBar span, #enemyEnergyBar span {
	color: #fff;
	display: block;
	font-size: 18px;
	font-weight: bold;
	position: absolute;
	text-align: center;
	text-shadow: 0 1px 0 #000;
	text-transform: uppercase;
	width: 100%;
}

#playerEnergy, #enemyEnergy {
	background-color: #666;
	height: 20px;
}

#playerEnergy {
	float: left;
}

#enemyEnergy {
	float: right;
}

#playerWins, #playerLoses {
	color: #fff;
	height: 36px;
	position: absolute;
	top: 75px;
	width: 100%;
}

#playerWins span, #playerLoses span {
	display: block;
	font-size: 36px;
	font-weight: bold;
	height: 36px;
	position: absolute;
	text-align: center;
	text-shadow: 0 2px 0 #000;
	text-transform: uppercase;
	width: 100%;
}

#playerWins span {
	background-position: 50% 0;
}

#playerLoses span {
	background-position: 50% -36px;
}