#game {
	background-color: #9c999c;
	background-image: url('../img/arena.gif');
	height: 508px;
	width: 800px;
}

#playerEnergyBar, #enemyEnergyBar {
	background-color: #c60000;
	background-image: url('../img/energy-bar.gif');
	background-repeat: x-repeat;
	border: 2px solid #ffff52;
	height: 20px;
	top: 60px;
	width: 320px;
}

#playerEnergyBar {
	left: 40px;
}

#enemyEnergyBar {
	left: 436px;
}

#playerEnergyBar span, #enemyEnergyBar span {
	background-image: url('../img/name.gif');
	background-repeat: no-repeat;
	text-indent: -999999px;
}

#playerEnergyBar span {
	background-position: 20px 0;
}

#enemyEnergyBar span {
	background-position: 175px -19px;
}

#playerEnergy, #enemyEnergy {
	background-color: #00a500;
	height: 20px;
}

#playerEnergy {
	float: left;
}

#enemyEnergy {
	float: right;
}

#player, #enemy {
	background-color: transparent;
	background-image: url('../img/fighter.gif');
	background-repeat: no-repeat;
	height: 320px;
	top: 160px;
	width: 250px;
}

#player {
	background-position: 0 0;
}

#player.moving-left {
	background-position: -250px 0;
}

#player.moving-right {
	background-position: -500px 0;
}

#player.punching {
	background-position: -750px 0;
}

#player.kicking {
	background-position: -1000px 0;
}

#player.hit {
	background-position: -1250px 0;
}

#player.winning {
	background-position: -1500px 0;
}

#player.losing {
	background-position: -1750px 0;
}

#enemy {
	background-position: 0 -320px;
}

#enemy.moving-left {
	background-position: -250px -320px;
}

#enemy.moving-right {
	background-position: -500px -320px;
}

#enemy.punching {
	background-position: -750px -320px;
}

#enemy.kicking {
	background-position: -1000px -320px;
}

#enemy.hit {
	background-position: -1250px -320px;
}

#enemy.winning {
	background-position: -1500px -320px;
}

#enemy.losing {
	background-position: -1750px -320px;
}

#playerWins, #playerLoses {
	height: 36px;
	top: 112px;
}

#playerWins span, #playerLoses span {
	background-image: url('../img/result.gif');
	background-repeat: no-repeat;
	height: 36px;
	text-indent: -999999px;
	text-shadow: 0 2px 0 #000;
}

#playerWins span {
	background-position: 50% 0;
}

#playerLoses span {
	background-position: 50% -36px;
}