#player {
	background-color: transparent;
	background-image: url('../img/scorpion.gif');
	background-position: 0 50%;
	background-repeat: no-repeat;
	height: 270px;
	position: absolute;
	top: 210px;
	width: 210px;
}

#player.punching {
	background-position: -210px 50%;
}